<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Vbarrack:Ebay Store</title>
	</head>

	<body>
		<table cellspacing="0" cellpadding="0" border="0">
		  <tr>
		    <td colspan="2">Dear <%= @user.name %>,</td>
		  </tr>
		  
		  <tr>
		    <td colspan="2">&nbsp;</td>
		  </tr>
		  
		  <tr>
		    <td colspan="2">Your password details for Vbarrack:Ebay Store as below:</td>
		  </tr>
		  
		  <tr>
		    <td width="150">Password:</td>
		    <td width="350"><%= @password %></td>
		  </tr>
		  
		  <tr>
		    <td colspan="2">&nbsp;</td>
		  </tr>
		  
		  
		  <tr>
		    <td colspan="2">Regards,</td>
		  </tr>
		  
		  <tr>
		    <td colspan="2">Vbarrack- Ebay Store Team</td>
		  </tr>
		  
		</table>
	</body>
</html>
